### Make Table 5

In [160]:
import json, re
import numpy as np
import pandas as pd

import import_ipynb
import Utils as U

import matplotlib
import matplotlib.pyplot as plt
from pylab import rcParams
%matplotlib inline

from pylab import rcParams
rcParams['figure.figsize'] = 10,5

%load_ext watermark
%watermark

The watermark extension is already loaded. To reload it, use:
  %reload_ext watermark
2021-03-21T22:55:34-07:00

CPython 3.8.5
IPython 7.18.1

compiler   : Clang 10.0.0
system     : Darwin
release    : 17.7.0
machine    : x86_64
processor  : i386
CPU cores  : 12
interpreter: 64bit

In [48]:
filename = "W_distance_vs_accs_task1_v4_results.csv"
W_distance_task1_df = pd.read_csv(filename, index_col='model')

filename = "W_distance_vs_accs_task2_v1_results.csv"
W_distance_task2_df = pd.read_csv(filename, index_col='model')

In [40]:
filename = "sharpness_vs_accs_task1_v4_results.csv"
sharpness_task1_df = pd.read_csv(filename, index_col='model')

filename = "sharpness_vs_accs_task2_v1_results.csv"
sharpness_task2_df = pd.read_csv(filename, index_col='model')

In [41]:

filename = "svd10_vs_accs_task1_v4_results.csv"
svd10_task1_df = pd.read_csv(filename, index_col='model')
filename = "svd10_vs_accs_task2_v1_results.csv"
svd10_task2_df = pd.read_csv(filename, index_col='model')

filename = "svd20_vs_accs_task1_v4_results.csv"
svd20_task1_df = pd.read_csv(filename, index_col='model')
filename = "svd20_vs_accs_task2_v1_results.csv"
svd20_task2_df = pd.read_csv(filename, index_col='model')

In [23]:
with open('ahat_results.json') as f:
     ahat_results = json.load(f)
ahat_results

{'task1_v4': {'0xx': {'RMSE': 0.8708288359776031,
   'MAE': 0.7219224682674551,
   'R2': 0.5495439266802352,
   'Ktau': -0.5480952765236738,
   'spman': -0.7566862540261774},
  '1xx': {'RMSE': 0.3718801464343123,
   'MAE': 0.3144963382108266,
   'R2': 0.878087513170729,
   'Ktau': -0.4848484848484848,
   'spman': -0.7342657342657343},
  '2xx': {'RMSE': 0.6566496838137909,
   'MAE': 0.5473167617989844,
   'R2': 0.6948707390470584,
   'Ktau': -0.5151515151515151,
   'spman': -0.7202797202797203},
  '5xx': {'RMSE': 1.3394854411263808,
   'MAE': 1.15749141974925,
   'R2': 0.08600741464158601,
   'Ktau': -0.10476190476190476,
   'spman': -0.11428571428571425},
  '6xx': {'RMSE': 1.0383351651934198,
   'MAE': 0.8040526789046206,
   'R2': 0.6133947266714386,
   'Ktau': -0.3725490196078432,
   'spman': -0.5335397316821465},
  '7xx': {'RMSE': 1.1332239218936329,
   'MAE': 0.8456473381146228,
   'R2': 0.4493120779312044,
   'Ktau': -0.5111111111111111,
   'spman': -0.7333333333333332}},
 'task2_v1': {'2xx': {'RMSE': 1.1563648064069731,
   'MAE': 1.0400423411474118,
   'R2': 0.6876685355779508,
   'Ktau': -0.7362637362637363,
   'spman': -0.8813186813186813},
  '6xx': {'RMSE': 0.9982664025097169,
   'MAE': 0.7888905274718119,
   'R2': 0.36075064910501053,
   'Ktau': -0.25490196078431376,
   'spman': -0.347781217750258},
  '9xx': {'RMSE': 0.9915778931993179,
   'MAE': 0.7823788488622236,
   'R2': 0.6392635296135725,
   'Ktau': -0.8666666666666666,
   'spman': -0.942857142857143},
  '10xx': {'RMSE': 1.0851998206839417,
   'MAE': 0.8775735596924713,
   'R2': 0.6512762621832402,
   'Ktau': -0.6969696969696969,
   'spman': -0.8531468531468532}}}

In [72]:
ahat_task1_sdf = pd.DataFrame(ahat_results['task1_v4']).transpose()[['R2','Ktau']]
ahat_task2_sdf = pd.DataFrame(ahat_results['task2_v1']).transpose()[['R2','Ktau']]

In [88]:
dist_task1_df = W_distance_task1_df[['R2','Ktau']]
sharp_task1_df = sharpness_task1_df[['R2','Ktau']]
svd10_task1_df = svd10_task1_df[['R2','Ktau']]


task1_df = sharp_task1_df.join(svd10_task1_df,  lsuffix='_sharp', rsuffix='_svd10')
task1_df = dist_task1_df.join(task1_df)
task1_df = ahat_task1_sdf.join(task1_df, lsuffix='_ahat', rsuffix='_dist')

task1_mean = task1_df.describe().loc['mean'].to_frame().rename(columns={'mean':'AVG'}).transpose()
task1_df = pd.concat([task1_df,task1_mean])
task1_df

      R2_ahat  Ktau_ahat   R2_dist  Ktau_dist  R2_sharp  Ktau_sharp  R2_svd10  Ktau_svd10
0xx  0.549544  -0.548095  0.470556   0.736843  0.256569    0.722324  0.533515    0.610909
1xx  0.878088  -0.484848  0.583775   0.848485  0.430305    0.821928  0.752147    0.787879
2xx  0.694871  -0.515152  0.322467   0.606061  0.300853    0.484848  0.841231    0.757576
5xx  0.086007  -0.104762  0.595811   0.766667  0.632944    0.761513  0.377664    0.433333
6xx  0.613395  -0.372549  0.519489   0.726316  0.587851    0.755362  0.404423    0.452632
7xx  0.449312  -0.511111  0.280244   0.606061  0.544590    0.636364  0.669445    0.666667
AVG  0.545203  -0.422753  0.462057   0.715072  0.458852    0.697056  0.596404    0.618166

In [161]:
task1_str = task1_df.to_latex(header=False, float_format="{:0.2f}".format)
task1_str = task1_str.split('\n',2)[-1].rsplit("\n", 3)[0]

task1_str = re.sub("\n", "\nTask1 - ", task1_str)
task1_str = re.sub("^", "\nTask1 - ", task1_str)

print(task1_str)

Task1 - 0xx & 0.55 & -0.55 & 0.47 & 0.74 & 0.26 & 0.72 & 0.53 & 0.61 \\
Task1 - 1xx & 0.88 & -0.48 & 0.58 & 0.85 & 0.43 & 0.82 & 0.75 & 0.79 \\
Task1 - 2xx & 0.69 & -0.52 & 0.32 & 0.61 & 0.30 & 0.48 & 0.84 & 0.76 \\
Task1 - 5xx & 0.09 & -0.10 & 0.60 & 0.77 & 0.63 & 0.76 & 0.38 & 0.43 \\
Task1 - 6xx & 0.61 & -0.37 & 0.52 & 0.73 & 0.59 & 0.76 & 0.40 & 0.45 \\
Task1 - 7xx & 0.45 & -0.51 & 0.28 & 0.61 & 0.54 & 0.64 & 0.67 & 0.67 \\
Task1 - AVG & 0.55 & -0.42 & 0.46 & 0.72 & 0.46 & 0.70 & 0.60 & 0.62 \\

In [159]:
dist_task2_df = W_distance_task2_df[['R2','Ktau']]
sharp_task2_df = sharpness_task2_df[['R2','Ktau']]
svd20_task2_df = svd20_task2_df[['R2','Ktau']]


task2_df = sharp_task2_df.join(svd20_task2_df,  lsuffix='_sharp', rsuffix='_svd20')
task2_df = dist_task2_df.join(task2_df)
task2_df = ahat_task2_sdf.join(task2_df, lsuffix='_ahat', rsuffix='_dist')
task2_df

task2_mean = task2_df.describe().loc['mean'].to_frame().rename(columns={'mean':'AVG'}).transpose()
task2_df = pd.concat([task2_df,task2_mean])
task2_df

       R2_ahat  Ktau_ahat   R2_dist  Ktau_dist  R2_sharp  Ktau_sharp  R2_svd20  Ktau_svd20
2xx   0.687669  -0.736264  0.223328   0.490196  0.338802    0.747545  0.952320    0.830065
6xx   0.360751  -0.254902  0.207855   0.372549  0.219417    0.393445  0.270542    0.267974
9xx   0.639264  -0.866667  0.487498   0.600000  0.386782    0.733333  0.714368    0.866667
10xx  0.651276  -0.696970  0.413434   0.727273  0.414549    0.677003  0.677868    0.727273
AVG   0.584740  -0.638701  0.333029   0.547504  0.339888    0.637832  0.653774    0.672995

In [163]:
task2_str = task2_df.to_latex(header=False, float_format="{:0.2f}".format)
task2_str = task2_str.split('\n',2)[-1].rsplit("\n", 3)[0]

task2_str = re.sub("\n", "\nTask2 - ", task2_str)
task2_str = re.sub("^", "\nTask2 - ", task2_str)
print(task2_str)

Task2 - 2xx  & 0.69 & -0.74 & 0.22 & 0.49 & 0.34 & 0.75 & 0.95 & 0.83 \\
Task2 - 6xx  & 0.36 & -0.25 & 0.21 & 0.37 & 0.22 & 0.39 & 0.27 & 0.27 \\
Task2 - 9xx  & 0.64 & -0.87 & 0.49 & 0.60 & 0.39 & 0.73 & 0.71 & 0.87 \\
Task2 - 10xx & 0.65 & -0.70 & 0.41 & 0.73 & 0.41 & 0.68 & 0.68 & 0.73 \\
Task2 - AVG  & 0.58 & -0.64 & 0.33 & 0.55 & 0.34 & 0.64 & 0.65 & 0.67 \\

In [170]:
metrics = ['ahat','W_distance', 'sharpness', 'svd20']
measures = ['R2', 'Ktau']
tasks = ['\TASKONE', '\TASKTWO']

HEADER = """
\\begin{tabular}{|p{1.05in}|c|c|c|c|c|c|c|c|c|c|}
\hline
& \multicolumn{2}{|c|}{ \ALPHAHAT      } 
& \multicolumn{2}{|c|}{ \DISTANCEFROMINIT     } 
& \multicolumn{2}{|c|}{ \SHARPNESS             } 
& \multicolumn{2}{|c|}{ \SVDSMOOTHING } 
\\\\
\hline
               &  $R^2$ & Kendal-$\\tau$ &  $R^2$ & Kendal-$\\tau$ &  $R^2$ & Kendal-$\\tau$ &  $R^2$ & Kendal-$\\tau$  \\\\
"""
    
with open('./table5.tex', 'w') as f:
    f.write(HEADER)
    f.write("\\hline\n")
    f.write(task1_str+'\n')
    f.write("\hline\hline\n")
    f.write(task2_str+'\n')
    f.write("\hline\n")
    f.write("\end{tabular}\n")

In [171]:
!cp table5.tex ../paper/

In [172]:
!cat table5.tex

\begin{tabular}{|p{1.05in}|c|c|c|c|c|c|c|c|c|c|}
\hline
& \multicolumn{2}{|c|}{ \ALPHAHAT      }
& \multicolumn{2}{|c|}{ \DISTANCEFROMINIT     }
& \multicolumn{2}{|c|}{ \SHARPNESS             }
& \multicolumn{2}{|c|}{ \SVDSMOOTHING }
\\
\hline
               &  $R^2$ & Kendal-$\tau$ &  $R^2$ & Kendal-$\tau$ &  $R^2$ & Kendal-$\tau$ &  $R^2$ & Kendal-$\tau$  \\
\hline

Task1 - 0xx & 0.55 & -0.55 & 0.47 & 0.74 & 0.26 & 0.72 & 0.53 & 0.61 \\
Task1 - 1xx & 0.88 & -0.48 & 0.58 & 0.85 & 0.43 & 0.82 & 0.75 & 0.79 \\
Task1 - 2xx & 0.69 & -0.52 & 0.32 & 0.61 & 0.30 & 0.48 & 0.84 & 0.76 \\
Task1 - 5xx & 0.09 & -0.10 & 0.60 & 0.77 & 0.63 & 0.76 & 0.38 & 0.43 \\
Task1 - 6xx & 0.61 & -0.37 & 0.52 & 0.73 & 0.59 & 0.76 & 0.40 & 0.45 \\
Task1 - 7xx & 0.45 & -0.51 & 0.28 & 0.61 & 0.54 & 0.64 & 0.67 & 0.67 \\
Task1 - AVG & 0.55 & -0.42 & 0.46 & 0.72 & 0.46 & 0.70 & 0.60 & 0.62 \\
\hline\hline

Task2 - 2xx  & 0.69 & -0.74 & 0.22 & 0.49 & 0.34 & 0.75 & 0.95 & 0.83 \\
Task2 - 6xx  & 0.36 & -0.25 & 0.21 & 0.37 & 0.22 & 0.39 & 0.27 & 0.27 \\
Task2 - 9xx  & 0.64 & -0.87 & 0.49 & 0.60 & 0.39 & 0.73 & 0.71 & 0.87 \\
Task2 - 10xx & 0.65 & -0.70 & 0.41 & 0.73 & 0.41 & 0.68 & 0.68 & 0.73 \\
Task2 - AVG  & 0.58 & -0.64 & 0.33 & 0.55 & 0.34 & 0.64 & 0.65 & 0.67 \\
\hline
\end{tabular}